.addProductContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	h3 {
		margin-top: 16px;
		text-align: center;
	}
}
.addProductForm {
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.input,
.textArea {
	font-size: 20px;
	padding: 4px 8px;
	border: none;
	border-radius: 5px;
	outline: none;
	box-shadow: #e4c59e 0px 1px 3px 0px, #e4c59e 0px 0px 0px 1px;
	border-radius: 5px;
	&:focus {
		outline: none;
		box-shadow: #e4c59e 0px 1px 3px 4px, #e4c59e 0px 0px 0px 1px;
	}
}
.addProductInputs {
	display: flex;
	flex-direction: column;
	width: 50%;
	gap: 16px;

	label {
		display: flex;
		flex-direction: column;
		gap: 4px;

		textarea {
			height: 100px;
			resize: none;
		}
	}
}

.fileINput {
	font-size: 14px;
}
.addProductBtns {
	margin-top: 32px;
	display: flex;
	gap: 8px;
	justify-content: center;
}

.btnSuccess {
	background: rgb(34, 134, 39);
}
.btnReset {
	background: rgb(153, 167, 26);
}
.btn {
	border: none;
	border-radius: 5px;
	font-size: 16px;
	padding: 4px 8px;
	color: #ffff;
	cursor: pointer;
	transition: 300ms;
	&:hover {
		box-shadow: #e4c59e 0px 1px 3px 0px, #e4c59e 0px 0px 0px 1px;
	}
	&:active {
		scale: 0.9;
	}
}
.radioContainer {
	display: flex;
	flex-direction: column;
	h2 {
		margin: 16px 0;
	}
	label {
		display: flex;
		flex-direction: row;
		gap: 4px;
	}
}
