.loginContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-weight: 300;
	}
	a {
		margin-top: 4px;
	}
}
.loginForm {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;

	input {
		margin: 4px 0;
		font-size: 20px;
		padding: 8px 32px;
		border: none;
		border-radius: 5px;
		background: #803d3b;
		&:focus {
			outline: none;
			box-shadow: #e4c59e 0px 1px 3px 0px, #e4c59e 0px 0px 0px 1px;
		}
	}
	label {
		margin-top: 16px;
	}
}

.loginBtn {
	margin: 16px 0;
	width: fit-content;
	padding: 4px 32px;
	font-size: 16px;
	border: none;
	border-radius: 7px;
	box-shadow: #e4c59e 0px 1px 3px 0px, #e4c59e 0px 0px 0px 1px;
	cursor: pointer;
	transition: 300ms;
	&:active {
		scale: 0.9;
	}
}
