.container {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	gap: 32px;
	flex-wrap: wrap;
}
.pageNmbersContainer {
	margin-top: 16px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pageNumber {
	padding: 16px;
	font-size: 20px;
	font-weight: 600;
}
.active {
	color: rgb(248, 93, 93);
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	animation: 5s linear 0s infinite alternate spin;
}

@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.banner {
	margin: 32px 0;
}
.bannerImg {
	border-radius: 10px;
}
.foundedProductsContainer {
	display: flex;
	flex-direction: column;
}
.seachProductsInputContainer {
	display: flex;
}
.seachProductsInputSpan {
	padding: 4px;
	display: flex;
	align-items: center;
	position: relative;
}
.searchProducts {
	align-self: center;
	display: flex;
}
.searchProductsIcon {
	position: absolute;
}
.searchProductBtn {
	right: 0;
	border: none;
	margin-left: 16px;
	cursor: pointer;
	transition: 300ms;
	border-radius: 10px;
	padding: 4px 8px;
	box-shadow: #e4c59e 0px 1px 3px 1px, #e4c59e 0px 0px 0px 1px;
	&:hover {
		box-shadow: #e4c59e 0px 1px 3px 3px, #e4c59e 0px 0px 0px 1px;
	}
	&:active {
		scale: 0.9;
	}
}
.seachProductsInput {
	padding: 2px 24px;
	font-size: 24px;
	box-shadow: #e4c59e 0px 1px 3px 0px, #e4c59e 0px 0px 0px 1px;
	border-radius: 10px;
	&:focus {
		outline: none;
		box-shadow: #e4c59e 0px 1px 3px 3px, #e4c59e 0px 0px 0px 1px;
	}
}
.foundedProducts {
	margin-top: 32px;
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}
