.header {
	margin: 16px 0;
	padding: 16px 0;
	border-bottom: 1px solid #e4c59e;
}

.headerContainer {
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	gap: 128px;
	align-items: center;
	a {
		transition: 300ms;
		&:hover {
			color: rgb(248, 93, 93);
		}
	}
}

.login {
	display: flex;
	gap: 16px;
}
.userLink {
	text-decoration: underline;
}
.signOutLink {
	text-decoration: underline;
	font-size: 14px;
}
.active {
	color: rgb(248, 93, 93);
}
.userTools {
	display: flex;
	gap: 32px;
	align-items: center;
}
.basketIcon {
	transition: 300ms;
	cursor: pointer;
	&:hover {
		stroke: rgb(248, 93, 93);
		scale: 1.2;
	}
}
.basketContainer {
	width: 50px;
	display: flex;
	align-items: center;
}

.salesCounter {
	font-size: 12px;
	color: #fff;
	border-radius: 50%;
	padding: 2px 6px;
	background-color: rgb(255, 37, 37);
	font-weight: 600;
	position: relative;
	top: 10px;
	right: 15px;
}
.searchIcon {
	cursor: pointer;
	transition: 300ms;
	&:hover {
		scale: 1.1;
	}
}
.hidden {
	display: none;
}
