.header {
	margin-top: 16px;
	margin-bottom: 64px;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	gap: 32px;
	align-items: center;
}

.login {
	display: flex;
	gap: 16px;
}
.userLink {
	text-decoration: underline;
}
.signOutLink {
	text-decoration: underline;
	font-size: 14px;
}
